@model IEnumerable<AllProductsListViewModel>
<link rel="stylesheet" href="~/css/ProductsListStyle.css">
<link rel="stylesheet" href="~/css/CashRegister.css">



<section class="productsList-wrapper">
    <article class="products-container">
        <nav class="navbar-Products">
            <a href="#" class="btn btn-primary btn-default" style="background-color: #d3d3d3; border-color: #007bff;"><i class="fas fa-filter"></i></a>
            <p>Продукти</p>
        </nav>

        <div style="display:block;" class="productsLister">
            @foreach (var p in Model)
            {
                <div class="card" style="width: 18rem;height: 20rem;">
                    <img class="card-img-top" style="border-radius:10px;" src="@p.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title" style="text-align:center;font-weight: bold;">@p.Name</h3>
                        <p class="card-text" style="text-align:left;">@p.Price лв</p>
                        <a href="#saleModal"class="trigger-btn btn btn-primary saleBtn" data-toggle="modal">Продай</a>
                        <p id="categoryName" style="display:none">@p.Category</p>
                        <p id="Kilograms" style="display:none">@p.Kilograms</p>
                    </div>
                </div>
            }
        </div>
    </article>

    <article class="sales-container">
        <header class="navbar-Sales">
            <p>Сметка</p>
        </header>
        <div style="display:flex;" class="salesLister">
            <form class="sales-form">
                <div id="sales-table" class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Име</th>
                                <th>Количество</th>
                                <th>Цена</th>
                                <th>Премахни</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            <tr>
                                <td>Краставици</td>
                                <td>2кг</td>
                                <td>5.20лв</td>
                                <td>
                                    <a href="#cleanerModal" class="delete-btn" data-toggle="modal">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="sales-total">
                    <label>Общо:</label>
                    <input type="text" disabled />
                    <label>.лв</label>
                    <div>
                        <a href="/Sales/CashRegister" class="btn btn-secondary">Изчисти</a>
                        <button type="submit" class="btn btn-primary">Продай</button>
                    </div>
                </footer>
            </form>
        </div>
    </article>
</section>

<!-- Sale Modal -->
<div id="saleModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column" style="text-align: center;align-items: center;">
                <div class="card" style="width: 18rem;height: 20rem;">
                    <img class="card-img-top" id="modalImage" style="border-radius:10px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiKoRcDgZaMdIgZhxgZa83h-u4VbFhAb0eLw&usqp=CAU" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title" style="text-align:center;font-weight: bold;">Непознат</h3>
                        <p class="card-text" style="text-align:left;">0 .лв</p>
                        <p id="categoryName" style="display:none">Непозната</p>
                        <p id="Kilograms" style="display:none">Непознати</p>
                    </div>
                </div>
                <h6 class="modal-title w-100">Продажба на <p class="secondName">Непознат</p></h6>
            </div>
            <div class="modal-body">
                <p style="text-align:center;">Изберете или въведете количество</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" value = "10" class="btn taker btn-danger">-10</button>
                <button type="button" value = "5" class="btn taker btn-danger">-5</button>
                <button type="button" value = "1" class="btn taker btn-danger">-1</button>
                <input id = "amountInput"style="width:25%;" placeholder="Бр. опаковки"/>
                <button type="button" value = "1" class="btn adder btn-success">+1</button>
                <button type="button" value = "5" class="btn adder btn-success">+5</button>
                <button type="button" value = "10" class="btn adder btn-success">+10</button>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
                <button type="button" id="sell" class="btn btn-success"><a  style="color:white;">Продай</a></button>
            </div>
        </div>
    </div>
</div>

<!-- Clear Sales Ask Modal -->
<div id="cleanerModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column" style="text-align: center;align-items: center;">
                <div class="icon-box">
                    <i class="fas fa-trash-alt fa-5x"></i>
                </div>
                <h4 class="modal-title w-100">Сигурни ли сте?</h4>
            </div>
            <div class="modal-body">
                <p style="text-align:center;">Наистина ли искате да изтриете този потребител?<br />Този процес не е обратим!</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
                <button type="button" class="btn btn-danger"><a id="delete" style="color:white;" href="#">Изтрий</a></button>
            </div>
        </div>
    </div>
</div>



<script src="~/js/CashRegister.js"></script>