@model IEnumerable<MySalesViewModel>

<style>
    tr:hover
    {background-color:#f4f6f9;}
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Продажби</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Основна страница</a></li>
                    <li class="breadcrumb-item active">Продажби</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div style="display: flex; margin-bottom: 10px;">
    <input style="margin:auto;" type="date" id="start" name="trip-start"
           value="@ViewBag.Date">
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <p style="margin:5px;" id="TotalDisplay">Оборот: 0 лв.</p>
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Продавач</th>
                                <th>Артикул</th>
                                <th>Брой</th>
                                <th>Ед цена</th>
                                <th>Обща цена</th>
                                <ths style="display:none">UTC-Date</ths>
                            </tr>
                            @foreach (var sale in Model)
                            {
                                <tr>
                                    <td class="date">@sale.DateTime</td>
                                    <td>@sale.Seller</td>
                                    <td>@sale.ProductName</td>
                                    <td>@sale.Quantity .бр</td>
                                    <td>@sale.AtPrice .лв</td>
                                    <td class="total">@sale.TotalPrice .лв</td>
                                    <td style="display:none" class="utc-date">@sale.DateTime</td>
                                </tr>
                            }
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>

<script src = "~/js/SalesList.js"></script>